@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Langar&family=Lilita+One&family=Noto+Sans+Malayalam:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Space Mono", serif;;
}


body {
    width: 100%;
}

#root {
    width: 100%;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(11,17,33);
    background: linear-gradient(180deg, rgba(11,17,33,1) 0%, rgba(10,13,23,1) 100%); 
}

.header-container {
    width: 96%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container > h2.dark {
    color: white;
}

#theme-btn {
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-btn.dark {
    outline: solid #6F7B9B 1px;
}

#theme-btn > img {
    width: 25px;
    height: 25px;
}

.form-container {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container > * {
    font-size: 1.1rem;
}

.form-container > .form-element {
    outline: solid #6F7B9B 1px;
    border: none;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    background: transparent;
}

.form-container > input {
    box-sizing: border-box;
    padding-inline: 10px;
}

.form-container.dark > *{
    color: white;
}

#online-p {
    position: absolute;
    bottom: 15px;
}

#online-p.dark {
    color: rgb(52, 202, 115);
}

